h1 {
  text-align: center;
  font-style: italic;
}
p {
  color:blue;
}
#backgroundimg{
  opacity: .85;
}
p:hover{
  color: red;
}
.jumbotron {
  margin-bottom: 2px;
  height: 100px;
  color: black;
  text-align:center;
  text-shadow: black 0.2em 0.2em 0.9em;
}

img{
  width:5%
}

#end {
  background-color: silver;
  flex-grow: 1;
}
#footer {
     position:absolute;
     bottom:0;
     width:100%;
     height:125px;   /* Height of the footer */
  }
