html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
	background:#ededed;
	padding:10px;
}
#content {
	padding-bottom:100px; /* Height of the footer element */
}



h1 {
  color: green;
  text-align: center;
  font-style: italic;
}
p {
  color:blue;
}
#backgroundimg{
  opacity: .85;
}
p:hover{
  color: red;
}
.jumbotron {
  margin-bottom: 2px;
  height: 200px;
  color: blue;
  text-align:center;
  text-shadow: black 0.2em 0.2em 0.9em;
  background: #000 url("https://www.actualyse.com/Content/assets/img/enr/tabletennis-img.jpg") center center;
}


  #main {
    overflow:auto;
    padding-bottom:150px; /* this needs to be bigger than footer height*/
  }

  .footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  }


img{
  width:7%
}

#end {
  background-color: silver;
  flex-grow: 1;
}

ul:hover{
  color: red;
}
ul{
  font-family: sans-serif;
  color: blue;
  font-size: 40px;
  text-align: center;
  text-shadow: black 0.2em 0.2em 0.9em;
  list-style-type: none;
}
